@using BlazorApps.BlazorMusicKeyboard.Model
@using System.Diagnostics
@using System.Drawing
@using System.Text.Encodings.Web

<audio id="@KeyBarModel.BarId-@KeyBarModel.SoundFile" src="_content/CedarRiverTech.BlazorApps.BlazorMusicKeyboard/Sounds/@KeyBarModel.SoundFile"></audio>
<button id="@KeyBarModel.BarId" @ref="BarButton" @onmousedown="MouseDown" @onmouseup="MouseUp" @onmouseout="MouseOut" 
        @onmouseover="MouseOver" @ontouchstart="TouchStart" @ontouchend="TouchEnd" @ontouchmove="TouchMove"
         class="keybar @BarClass" style="height: @(Height)%; width: @(Width)px; @(Left > 0 ? $"left:{Left}px;" : "")">
    <div style="text-align: center; width: 100%; pointer-events: none;">@((MarkupString) KeyBarModel.Label)</div>
</button>