@inherits BdGridBase
@using Microsoft.AspNetCore.Components.Web.Virtualization
@typeparam TItem

<div class="bd-grid-container" style="@Style">
    <div class="bd-grid">
        <CascadingValue Name="ColumnDefinitions" Value="ColumnDefinitions">
            <CascadingValue Name="RowHeight" Value="RowHeight">
                <CascadingValue Name="RowHeightUnit" Value="RowHeightUnit">
                    <CascadingValue Name="Grid" Value="@this">
                        <BdGridHeaderRow/>
                        <div class="bd-grid-row-container">
                            <Virtualize @ref="VirtualGrid" Items="ItemsSource" Context="item">
                                <ItemContent>
                                    @if (item != null)
                                    {
                                        <BdGridRow RowValueChanged="@OnRowValueChanged" 
                                                   RowDeleted="@OnRowDeleted"
                                                   Item="@item" Index="@ItemsSource.IndexOf(item)"/>
                                    }
                                </ItemContent>
                                <Placeholder>Loading...</Placeholder>
                            </Virtualize>
                            @if (CanUserAddRows)
                            {
                                <button class="button-add-row" @onclick="OnAddRowClicked">+</button>
                            }
                        </div>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </div>
</div>