@inherits BdGridComponent

<div class="bd-grid-header-row">
    @for (var index = 0; index < ColumnDefinitions.Count; index++)
    {
        var col = ColumnDefinitions[index];
        var i = index;
        <div class="bd-grid-header-cell" 
             ondragover="event.preventDefault(); event.dataTransfer.dropEffect = 'move';"
             ondragstart="event.dataTransfer.setData('', event.target.id); event.dataTransfer.dropEffect = 'move';"
             ondrop="event.preventDefault();"
             id="@($"header-{i}")" style="@BuildColumnHeaderStyle(col)">
            @col.Header
            @if (Grid.CanUserResizeColumns)
            {
                <div class="resizer-r" id="@("resizer-{i}")" 
                     draggable="true"
                     @onmousedown="_ => ResizerMouseDown(i)"
                     @onmouseup="_ => ResizerMouseUp(i)"
                     @ondragstart="e => ResizerDragStart(e, i)" style="@_resizerStyle[i]"
                     @ondragend="async e => await ResizerDragEnd(e, i)">&nbsp;</div>
            }
        </div>
    }
    @if (Grid.CanUserDeleteRows)
    {
        <div class="bd-grid-header-cell" style="width: 2em;">&nbsp;</div>
    }
</div>