@inherits BlazorDataGrid.Business.Components.BdGridComponent
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using BlazorDataGrid.Business.Utilities
@using BlazorDataGrid.Business.Components.Cells
@typeparam TItem

<div class="bd-grid-row" style="@Style">
    @foreach (var columnDefinition in ColumnDefinitions)
    {
        if (Item == null) return;
        switch (columnDefinition.FieldType)
        {
            case null:
            case FieldType.Text:
                <BdTextCell Parent="@(this)" @bind-Value="FieldValues[columnDefinition.BindingField]" ColumnDefinition="@columnDefinition"/>
                break;
            case FieldType.Checkbox:
                <BdCheckboxCell Parent="@(this)" @bind-Value="FieldValues[columnDefinition.BindingField]" ColumnDefinition="@columnDefinition"/>
                break;
            case FieldType.IntNumeric:
                <BdIntNumericCell Parent="@(this)" @bind-Value="FieldValues[columnDefinition.BindingField]" ColumnDefinition="@columnDefinition"/>
                break;
            case FieldType.DoubleNumeric:
                <BdDoubleNumericCell Parent="@(this)" @bind-Value="FieldValues[columnDefinition.BindingField]" ColumnDefinition="@columnDefinition"/>
                break;
            case FieldType.Date:
                <BdDateCell Parent="@(this)" @bind-Value="FieldValues[columnDefinition.BindingField]" ColumnDefinition="@columnDefinition"/>
                break;
            case FieldType.Time:
                <BdTimeCell Parent="@(this)" @bind-Value="FieldValues[columnDefinition.BindingField]" ColumnDefinition="@columnDefinition"/>
                break;
            case FieldType.DateTimeLocal:
                <BdDateTimeLocalCell Parent="@(this)" @bind-Value="FieldValues[columnDefinition.BindingField]" ColumnDefinition="@columnDefinition"/>
                break;
        }
    }
</div>