@inherits BlazorDataGrid.Business.Components.BdGridComponent
@using Microsoft.AspNetCore.Components.Web.Virtualization
@typeparam TItem

<div class="bd-grid-row" style="@Style">
    <Virtualize Items="@ColumnDefinitions" Context="columnDefinition">
        @{
            if (Item == null) return;
            var fieldValue = GetFieldValue(columnDefinition.BindingField);
            switch (columnDefinition.FieldType)
            {
                case null:
                case FieldType.Text:
                    <BdTextCell Parent="@(this)" @bind-Value="fieldValue" ColumnDefinition="@columnDefinition"/>
                    break;
                case FieldType.Checkbox:
                    <BdCheckboxCell Parent="@(this)" @bind-Value="fieldValue" ColumnDefinition="@columnDefinition"/>
                    break;
                case FieldType.IntNumeric:
                    <BdIntNumericCell Parent="@(this)" @bind-Value="fieldValue" ColumnDefinition="@columnDefinition"/>
                    break;
                case FieldType.DoubleNumeric:
                    <BdDoubleNumericCell Parent="@(this)" @bind-Value="fieldValue" ColumnDefinition="@columnDefinition"/>
                    break;
                case FieldType.Date:
                    <BdDateCell Parent="@(this)" @bind-Value="fieldValue" ColumnDefinition="@columnDefinition"/>
                    break;
                case FieldType.Time:
                    <BdTimeCell Parent="@(this)" @bind-Value="fieldValue" ColumnDefinition="@columnDefinition"/>
                    break;
                case FieldType.DateTimeLocal:
                    <BdDateTimeLocalCell Parent="@(this)" @bind-Value="fieldValue" ColumnDefinition="@columnDefinition"/>
                    break;
            }
        }
    </Virtualize>
    
</div>