@inherits BdInputCell<DateTime?>

<div class="bd-cell-wrapper" style="@Style">
    <input class="bd-input-cell"
           type="date"
           @bind="@TypedValue"
           @onfocusin="@FocusIn"
           @onfocusout="@FocusOut"
           disabled="@(!IsEditable)" />
</div>